@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  /* Colores */
  --color-brand-dark: #783D19;
  --color-brand-primary: #B99470;
  --color-brand-secondary: #5E524B;
  --color-brand-muted: #F5E6C4;
  --color-brand-light: #F8F1E5;

  /* Tipografia */
  --font-sans: 'Poppins', system-ui, sans-serif;
  --font-serif: 'Philosopher', serif;

  /* Color Crema Base */
  --color-crema: #F9F6F0; 
}

/* Estilos Globales */
body {
  background-color: var(--color-crema);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}